.login-container {
  background-color: rgb(28, 6, 58);
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
}
.login-form {
  width: 650px;
  height: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  justify-content: center;

  color: black;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="tel"],
input[type="number"] {
  width: 440px;
  padding: 7px;
  margin: 15px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 7px;
  line-height: 40px;
}

.button-style {
  display: block;
  background-color: rgb(28, 6, 58);
  border-radius: 8px;
  border: 2px solid white;
  width: 25%;
  margin-left: auto;
  margin-right: auto;

  font-weight: 800;
  color: white;
  line-height: 40px;
}
